* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container__playtime {
  font-size: 2rem;
  margin-top: 2rem;
  color: black;
}

.container__ul {
  margin-top: 1rem;
  list-style: none;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

li {
  width: 100px;
  height: 100px;
  background: url("https://placeimg.com/400/400/any");
}

.start-btn {
  background-color: black;
  border-radius: 8px;
  color: white;
  border: none;
  padding: 1rem 2rem;
  margin-top: 1rem;
}
.game-finish {
  position: absolute;
  font-size: 3rem;
  color: black;
  background-color: white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem;
  border-radius: 16px;
}

.list0 {
  background-position-x: 0px;
  background-position-y: 0px;
}

.list1 {
  background-position-x: -100px;
  background-position-y: 0px;
}

.list2 {
  background-position-x: -200px;
  background-position-y: 0px;
}
.list3 {
  background-position-x: -300px;
  background-position-y: 0px;
}

.list4 {
  background-position-x: 0px;
  background-position-y: -100px;
}

.list5 {
  background-position-x: -100px;
  background-position-y: -100px;
}
.list6 {
  background-position-x: -200px;
  background-position-y: -100px;
}
.list7 {
  background-position-x: -300px;
  background-position-y: -100px;
}
.list8 {
  background-position-x: 0px;
  background-position-y: -200px;
}

.list9 {
  background-position-x: -100px;
  background-position-y: -200px;
}

.list10 {
  background-position-x: -200px;
  background-position-y: -200px;
}

.list11 {
  background-position-x: -300px;
  background-position-y: -200px;
}

.list12 {
  background-position-x: 0px;
  background-position-y: -300px;
}
.list13 {
  background-position-x: -100px;
  background-position-y: -300px;
}

.list14 {
  background-position-x: -200px;
  background-position-y: -300px;
}

.list15 {
  background-position-x: -300px;
  background-position-y: -300px;
}
